.recomendaitionBlock {
  margin: 15px 0 30px;

  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  column-gap: 20px;
}

.Itemblcok {
  padding: 10px;
  border-radius: 20px;

  color: white;
}

.ItemblcokActive {
  padding: 10px;
  border-radius: 20px;
  background: gray;
  color: white;
}
